# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

build/
dist/
wheels/
*.egg-info/

# ======================
# Virtual Environments
# ======================
.venv/
venv/
env/

# ======================
# Environment Variables (CRITICAL)
# ======================
.env
.env.*
!.env.example

# ======================
# UV (package manager)
# ======================
.uv/
uv.lock

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Data Files (VERY IMPORTANT)
# ======================
data/
*.parquet
*.csv

# ======================
# Output / Generated Data
# ======================
output/

# ======================
# Logs
# ======================
*.log

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Docker / Streaming
# ======================
*.tmp